* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/opacitybackground.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  font-family: 'CooperHewittMedium'; 
  height: 100vh;
  overflow: hidden;
}

#home{
  height: 100vh;
  background: rgba(51, 139, 203, 0.8);
}

.ender{
  height: 100vh;
  width: 100%;
  background: rgba(51, 139, 203, 0.8);
}

.centertext{
  margin-top: 10vh;
  text-align: center;
}

.step{
  background: rgba(51, 139, 203, 0.8);  
  height: 95vh;
}

.bar{
  background: #338BCB;
  width: 100%;
  text-align: center;
}

.title{
  background: #338BCB;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  height: auto;
  color: #FFFFFF;
}

h1{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-align: left;
  color: #FFFFFF;
}

.container{
  width: 50%;
  height: 100vh;
}

.img{
  margin-top: 15vh;
  max-width:100%;
  max-height:100%;
}

.arrow{
  max-width:100%;
  max-height:100%;
  width: 50px;
}

.stepTitle{
  margin-top: 15vh;
  font-family: 'CooperHewittBold';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-size: 5vw;
  line-height: 23px;
  color: #FFFFFF;
  text-align: center;
}

.stepCaption{
  margin-top: 3vh;
  font-size: 3.5vw;
  font-family: 'CooperHewittThin';
  line-height: 3.5vw;
  color: #FFFFFF;
  text-align: center;
}

.stepDet{
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  font-family: 'CooperHewittBook';
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  max-width:80%;
  background-color: rgba(255, 255, 255, 0.8);
}

.stepdes{
  margin-top: 20px;
  margin-left: 3vw;
  margin-right: 3vw;
  font-family: 'CooperHewittLight';
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;  
}

.imgStep{
  margin-top: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:80%;
  max-height:50vw;

}

.container-fluid {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* Scroll Snap */
  scroll-snap-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.show-code {
  margin-top: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:80%;
  max-height:50vw;
}

.language-css {
  width:50vw;
  height: 50vh;
}

.stepcodecap {
  margin-left: auto;
  margin-right: auto;
  width:50vw;
  margin-top: 1vh;
  font-size: 18px;
  line-height: 23px;
  font-family: 'CooperHewittBook';
  background-color: rgba(255, 255, 255, 0.8);
}

.laststepcap{
  margin-top: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: 'CooperHewittLight';
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 5%;
}

/* Stack Overflow solution to centering a video in a div. https://stackoverflow.com/questions/22433616/how-can-i-align-youtube-embedded-video-in-the-center-in-bootstrap/22433845 */
.your-centered-div {
  width: 560px; /* you have to have a size or this method doesn't work */
  height: 315px; /* think about making these max-width instead - might give you some more responsiveness */
/* positions out of the flow, but according to the nearest parent */
  top: 0; right: 0; /* confuse it i guess */
  bottom: 0; left: 0;
  margin: auto; /* make em equal */
}

.beancap{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'CooperHewittBook';
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  width:560px;
}